<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">
        <div class="rounded overflow-hidden shadow-lg">
            <a href="#"></a>
            <div class="relative">
                <a href="#">
                    <img
                        class="w-full"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Z66QxfVXUmfyQQf0KbjnpI7D2MsW-_o4_w&s"
                        alt="Limpieza dental"
                    />
                    <div
                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                    >
                    </div>
                </a>
            </div>
            <div class="px-6 py-4">
                <a
                    href="#"
                    class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
                    >Limpieza dental</a
                >
                <p class="text-gray-500 text-sm">Proceso de eliminar placa y sarro de los dientes para prevenir caries y enfermedades de las encías.</p>
            </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg">
            <a href="#"></a>
            <div class="relative">
                <a href="#">
                    <img
                        class="w-full"
                        src="https://grados.uemc.es/hs-fs/hubfs/Blog/Im%C3%A1genes/render-tratamiento-endodoncia.jpg?width=1000&height=699&name=render-tratamiento-endodoncia.jpg"
                        alt="Endodoncia"
                    />
                    <div
                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                    >
                    </div>
                </a>

            </div>
            <div class="px-6 py-4">
                <a
                    href="#"
                    class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
                    >Endodoncia</a
                >
                <p class="text-gray-500 text-sm">
                    Conocido comúnmente como "tratamiento de conducto".
                </p>
            </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg">
            <a href="#"></a>
            <div class="relative">
                <a href="#">
                    <img
                        class="w-full"
                        src="https://sonriadentalcare.com/wp-content/uploads/2021/02/Cuidados-Post-Operatorios-En-La-Extraccion-De-Un-Diente.jpg"
                        alt="Extracciones"
                    />
                    <div
                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                    >
                    </div>
                </a>
            </div>
            <div class="px-6 py-4">
                <a
                    href="#"
                    class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
                    >Extracciones</a
                >
                <p class="text-gray-500 text-sm">
                    Procedimiento para remover dientes que están dañados, infectados o que no tienen suficiente soporte en la encía o hueso.
                </p>
            </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg">
            <a href="#"></a>
            <div class="relative">
                <a href="#">
                    <img
                        class="w-full"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ZlKRX286YOW854hKC8PL6TMzjXRoTcvnTw&s"
                        alt="Sellantes"
                    />
                    <div
                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                    >
                    </div>
                </a>
            </div>
            <div class="px-6 py-4">
                <a
                    href="#"
                    class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
                    >Sellantes</a
                >
                <p class="text-gray-500 text-sm">
                    Aplicación de una capa delgada de material plástico sobre las superficies masticatorias de los dientes para prevenir la acumulación de placa y la formación de caries.
                </p>
            </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg">
            <a href="#"></a>
            <div class="relative">
                <a href="#">
                    <img
                        class="w-full"
                        src="https://romyfloresodontologia.pe/wp-content/uploads/2024/01/puente-dental-sobre-implantes.jpg"
                        alt="Puentes"
                    />
                    <div
                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                    >
                    </div>
                </a>
            </div>
            <div class="px-6 py-4">
                <a
                    href="#"
                    class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
                    >Puentes</a
                >
                <p class="text-gray-500 text-sm">
                    Dispositivos dentales fijos que reemplazan uno o más dientes perdidos al unir un diente artificial entre dos dientes naturales o implantes.
                </p>
            </div>
        </div>
        <div class="rounded overflow-hidden shadow-lg">
            <a href="#"></a>
            <div class="relative">
                <a href="#">
                    <img
                        class="w-full"
                        src="https://clinicasden.com/wp-content/uploads/2021/09/aparato-dental-invisible.jpg"
                        alt="Ortodoncia"
                    />
                    <div
                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
                    >
                    </div>
                </a>
            </div>
            <div class="px-6 py-4">
                <a
                    href="#"
                    class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
                    >Ortodoncia</a
                >
                <p class="text-gray-500 text-sm">
                    Proceso de corregir los dientes y mandíbulas desalineadas utilizando aparatos como brackets para mejorar la función y la estética dental.
                </p>
            </div>
        </div>
    </div>
</div>
